body {
    background: #ff2222;
    color: rgb(112, 111, 111);
    background-color: #202020;
    background-color: rgb(165, 171, 177);
    background-size: 100% 100%;

    background-image: -moz-element();
}